.replit-container{
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.replit-container iframe,
.replit-container object,
.replit-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.row {
  display: block;
}

.column {
  /* flex: 33.33%; */
  padding: 5px;
}

