body {
  padding-top: 50px;
}
.left-align {
  padding: 40px 15px;
  text-align: left;
}
.center-align {
  padding: 40px 15px;
  text-align: center;
}
.right-align {
  padding: 40px 15px;
  text-align: right;
}
